/* Prettier for css formatter */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(white,rgb(19, 46, 49));
    height: 98.5vh;
}

.logo{
    display: block;
    margin: 0.6rem auto;
    height: 3rem;
    width: 3rem;
}

nav h1{
    text-align: center;
}

.container{
    background-color: red;
    padding: 12px;
    margin: 15px auto 25px auto;
    max-width: 55rem;
    height: 70vh;
    border: 2px solid black;
    border-radius: 18px;
    overflow-y: auto;
}

.message{
    background-color: grey;
    width: 30%;
    margin: 8px 10px;
    padding: 11px 14px;
    border: 2px solid black;
    border-radius: 10px;
    
}

.left{
    float: left;
    clear: both;
}

.right{
    float: right;
    clear: both;
}

.mid{
    float: inherit;
    clear: both;
    margin-left: 20rem;
}

#send-container{
    display: block;
    margin: auto;
    text-align: center;
    width: 50rem;
}

#message-inp{
    width: 40rem;
    padding: 7px;
    border: 2px solid black;
    border-radius: 8px;
}

#send-container .btn{
    width: 5rem;
    padding: 8px;
    border: 2px solid black;
    border-radius: 11px;
    font-family:cursive;
}

@media (min-width:651px) and (max-width:800px) {
    #send-container{
        display: block;
        margin: auto;
        text-align: center;
        width: 40em;
    }
    #message-inp{
        width: 35em;
        padding: 6px;
        border: 2px solid black;
        border-radius: 8px;
    }
}

@media (min-width:501px) and (max-width:650px) {
    #send-container{
        display: block;
        margin: auto;
        text-align: center;
        width: 30em;
    }
    #message-inp{
        width: 25em;
        padding: 6px;
        border: 2px solid black;
        border-radius: 8px;
    }
}

@media (min-width:351px) and (max-width:500px){
    #send-container{
        display: block;
        margin: auto;
        text-align: center;
        width: 20em;
    }
    #message-inp{
        width: 15em;
        padding: 7px;
        border: 2px solid black;
        border-radius: 8px;
    }
}

@media (max-width:349px) {
    #send-container{
        display: block;
        margin: auto;
        text-align: center;
        width: 12em;
    }
    #message-inp{
        width: 8em;
        padding: 6px;
        border: 2px solid black;
        border-radius: 8px;
    }
}